@use '../_variables/variables';

.person {
  width: 220px;
  height: 287px;
  padding: 10px 10px 16px;
  border-radius: 10px;

  transition-property: transform;
  transition-duration: 1s;

  // transition: transform 5s;

  &__photo {
    margin-bottom: 8px;
    position: relative;

    &__img {
      width: 100%;
      height: 100%;
      border-radius: 200px;

      transition-property: border-radius;
      transition-duration: 1s;
    }

    &__rank {
      font-size: 19.2px;
      line-height: 22.08px;
      font-weight: 700;
      color: #8b0000;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background-color: #fff;
      border-radius: 50px;

      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__details {
    &__name {
      display: block;
      font-size: 20px;
      line-height: 23px;
      font-weight: 700;
      color: #2f4f4f;
      margin-bottom: 8px;
    }

    &__extra {
      display: none;
      font-size: 18px;
      line-height: 20.7px;
      text-align: center;
      color: #000;

      &__sport {
        display: inline-block;

        &::after {
          content: ',';
        }
      }

      &__pay {
        display: inline-block;

        &::before {
          content: '$';
        }

        &::after {
          content: 'M';
        }
      }
    }
  }

  &:hover {
    background-color: #eeeeee;
    z-index: 1;

    transform: scale(1.2);
  }

  &:hover &__details__extra {
    display: block;
  }

  &:hover &__photo__img {
    border-radius: 60px;
  }
}